body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("bcg.jpg");
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    padding: 15px 0 0 200px;
}

.logo img {
    height: 200px;
}